@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

  .close {
    @apply dark:bg-white;
  }

  body {
    background-color: #000;
  }
  .about {
    background-color: #fde8e9;
    color: #0D1F22;
    padding: 400px;
  }
  .about__header {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: "Monserrat",sans-serif;
  }
  .about__subtitle {
    font-size: 20px;
  }
  .about__body {
    margin-top: 20px;
    font-size: 22px;
    line-height: 1.5;
  }
  .about__body__creators{
    margin-top: 10px;
    font-size: 20px;
  }
  .about__body__feedback{
    margin-top: 30px;
  }
  .Creators {
    background-color: #0D1F22;
    color: #caf0f8;
    padding: 400px;
  }
  .Creators__header {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .Creators__tech__lead {
    font-size: 30px;
    font-weight: bold;
  }
  .Creators__other__tech__guy {
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
  }
  .Creators__dev{
    margin-top: 50px;
  }
  .Creators__something{
    margin-top: 30px;
  }
  .Creators__image{
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 600px) {
    .about {
      padding: 50px;
      padding-bottom: 150px;
    }
    .Creators {
      padding: 50px;
      padding-bottom: 150px;
    }
    .Creators__image{
      margin:auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  @media only screen and (min-width: 768px) and(max-width: 1024px) {
    .about {
      padding: 250px;
      padding-bottom: 600px;
    }
    .Creators{
      padding: 250px;
    }
  }
}

@layer utilities {
  .color-gray {
    color: #d9d9d9;
  }

  .background-gray {
    background-color: #202327;
  }

  .border-gray {
    border: none;
    border-bottom: 1px solid #202327;
  }
}

.twitter-tweet {
  margin: 30px auto 10px !important;
}
